body,
html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h1 {
  text-align: center;
}

input {
  margin-right: 8px;
  font-size: 18px;
}

button {
  font-size: 18px;
}
